.App {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.view {
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    color: white;
}

.components {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 650px;
}






















